
<div class="container">
  <div class="jumbotron">
    <h1>The Infamous Beta Site</h1> 
    <p>Get Ready, Get Set, Go!</p> 
  </div>
</div>


<!-- Fashion Picture -->
<div>
	<center><h1>Make a Fashion Request</h1></center>
	<%= link_to(image_tag("fashion_wallpaper.jpg", class: "img-responsive"), fashions_path) %>
</div>


<!-- Bakery Picture -->
<div>
	<center><h1>Make a Bakery Request</h1></center>
	<%= link_to(image_tag("bakery_wallpaper.jpg", class: "img-responsive"), fashions_path) %>
</div>


<!-- Technology Picture -->
<div>
	<center><h1>Make a Technology Request</h1></center>
	<%= link_to(image_tag("technology_wallpaper.jpg", class: "img-responsive"), fashions_path) %>
</div>
